
:root {
  --base-bg: #8399f9;
  --white:#ffff;
  --black:#000;
  --in-progres:#f56f68f2;
  --done:#1bd727;
  /* --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64); */
} 

/* semantic color variables for this project */


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body,html {
  /*background-color:rgb(153, 202, 202);
  */min-height: 100vh;
  color: var(--color-text);
  background: var( --base-bg);
}
ul{
  list-style-type:none ;
}
.title{
  width: 100%;
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  }